<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AtmService.WithdrawalService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/WithdrawalService" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="AtmService.IWithdrawalService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="AtmService.DepositService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/DepositService" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="AtmService.IDepositService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
